<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="myzapo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <myzapo.Properties.Settings>
            <setting name="FiloIn" serializeAs="String">
                <value>c:\papgn\Chelny2010.pgn</value>
            </setting>
            <setting name="FiloOut" serializeAs="String">
                <value>c:\papgn\wk\Chelny2010.pgn</value>
            </setting>
        </myzapo.Properties.Settings>
    </applicationSettings>
</configuration>
